// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: rgb(0,0,0,) !default;
$lighter-grey: rgb(0,0,0) !default;
$dark-grey: rgba(0,0,0,1) !default;
$primary-color: rgba(0,0,0,1) !default;
$secondary-color: rgb(0,0,0) !default;
$border-color: rgb(0,0,0) !default;
$link-color: rgba(0,0,0,1) !default;
$font-color: rgba(0,0,0,1) !default;
$header-color: rgba(0,0,0,1);
$header-color-link: rgba(0,0,0,1);
$drop-shadow: rgba(0,0,0,0.1) !default;
$footer-color: rgba(255,255,255,0.75);

// Typography
$font-family: 'Spartan', sans-serif !default;

//Grid Variables
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 90% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;

// Gradients
$long-gradient: linear-gradient(180deg, #f6efde, #f6efde, #f6efde);
$dark-gradient: linear-gradient(to bottom,#444444 0%,#333333 39%,#333333 39%);